<article class="post">
    <div class="title">
        <a href="" target="_blank">{{title}}</a>
    </div>
    <div class="meta">
        Created on {{created_at}}
        |
        <a href="/post/{{id}}">{{comment_count}} comment(s)</a>
    </div>
</article>